<%= render 'static_pages/home_header' %>
<div class="bg"></div>
<div class="jumbotron">
  <h1>Bootstrap Jumbotron</h1>
</div>
<div class="centered-button">
  <%= button_to "View All Markets", markets_path, class: "btn btn-lg btn-primary center-block" %>
</div>
