<% provide(:title, "Farmers Market Central") %>
<%= render 'static_pages/home_header' %>
<div class="centered-button">
  <%= button_to "View All Markets", markets_path, class: "btn btn-lg btn-primary center-block" %>
</div>
