<ul>
  <% @vendors.each do |vendor| %>

    <li><%= link_to vendor.name, market_vendor_path(vendor.market_id, vendor.id) %>
        <%= link_to "edit", edit_market_vendor_path(vendor.market_id, vendor.id) %>
    </li>
  <% end %>
</ul>
