<h1>Welcome page for all users</h1>
<h3>Are you a market or a vendor? Click below:</h3>
<p>
  <%= link_to "I'm a market", markets_path %>
</p>
<p>
  <%= link_to "I'm a vendor", vendors_path %>
</p>

<h2>This will be a table of all markets, with links to their details (show) page</h2>
<%= link_to "Market 1", market_path(Market.first.id) %>
