
<h3>would you like to proceed as:</h3>
<%= button_to 'a market?', '/markets', method: :get %>
  or
<%= button_to 'a vendor?', '/vendors', method: :get %>

<ul>
  <% @markets.each do |m| %>
    <li>
      <%= link_to m.name, market_path(m.id, type: :user) %>
    </li>
  <% end %>
</ul>
