<h1>Welcome to Kelly & Lauren's FarMarFinder!</h1>
<h3>would you like to proceed as:</h3>
<%= button_to 'a market?', '/markets', method: :get %>
<p>
  or
</p>
<%= button_to 'a vendor?', '/vendors', method: :get %>

<ul>
  <% @markets.each do |m| %>
    <li>
      <%= link_to m.name, market_path(m.id) %>
    </li>
  <% end %>
</ul>
