<h1>Welcome to Farmer's Market Disney Land!</h1>

<%= form_tag select_user_path, method: :get do %>
  <%= collection_select(:market, :id, @markets, :id, :name, prompt: "Select the Market") %>
  <%= submit_tag "View Market" %>
<% end %>
