<h1 class='pg-header'>Choose a Vendor</h1>

<table class='table_list' id='vendor_table'>
  <% @vendors.each do |vendor| %>
  <tr>
    <td><%= link_to vendor.name.titleize, market_vendor_path(vendor.market_id, vendor.id), class: "market-link" %></td>
  </tr>
  <% end %>
</table>
