<div class='nav-two-links'>
  <%= link_to 'home', '/', class: 'top-nav-button' %>
  <%= link_to 'return to market', market_path(id: params[:market_id]), method: :get, class: "top-nav-button" %>
</div>

<hr class="nav-hr" />

<div class='form'>
  <%= render partial:'vendor_form', locals:{form_title: 'Edit this Vendor', url: market_vendor_path, method: :patch} %>
</div>
