<h1><%= @vendor.name %></h1>
<h1>Products</h1>
<% if @products.length == 0 %>
  <h4>no products :(</h4>
<% else %>
  <table class="table">
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.name %>
        </td>
     </tr>
     <% end %>
  </table>
<% end %>

<nav>
  <%= link_to "Back to Market Details", home_market_path(params[:market_id]) %>
</nav>
