<div class="sign-in-button">
<%= button_to "Add new vendor", new_vendor_path, method: :get, class: "btn btn-default"  %>
</div>
<ul>
  <% Vendor.all.each do |vendor| %>
  <li class="vendor_list">
    <%= link_to vendor.name, vendor_path(vendor.id), role: "button", class: "btn btn-success" %>
    <%= link_to "Edit", edit_vendor_path(vendor.id) %>
    <%= link_to "Delete", "/vendors/#{vendor.id}", method: :delete %>
  </li>
  <% end %>
</ul>
