<div class="container" >
  <h1>ALL THEM VENDORS</h1>
  <%= link_to "Add a vendor", "/vendors/new" %>
  <ul>
    <% @vendors.each do |vendor| %>
      <li>
        <%= vendor.name %>
        <%= link_to "Show Vendor", "/vendors/#{vendor.id}" %>
      </li>
    <% end %>
  </ul>
</div>
