<h3><%= @market.name %></h3>
<h3>Vendors</h3>

<%= button_to "Add new vendor", new_market_vendor_path, method: :get %>

<ul>
  <% @market.vendors.each do |vendor| %>
  <li>
    <% binding.pry %>
    <%= vendor.name %> <%= link_to "Edit", edit_market_vendor_path(@market.id,vendor.id) %>
  </li>
  <% end %>
</ul>
