<h1>Hi, Vendor!</h1>

<h1>Vendors</h1>
<table>
  <% @vendors.each do |vendor| %>
    <tr>
      <td>
        <%= vendor.name %>
      </td>
      <td>
        <td><%= link_to "details", vendor_path(vendor) %></td>
      </td>
   </tr>
   <% end %>
</table>
