<h1> Vendor home </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Num of Employees</th>
    <th>Products</th>
  </tr>

  <tr>
    <td><%= @vendor.name %></td>
    <td><%= @vendor.no_of_employees %></td>
    <td>
      <ul>
        <% @vendor.products.each do |product| %>
          <li><%= product.name %></li>
        <% end %>
      </ul>
    </td>
  </tr>
</table>
<section>
  <%= link_to "Add a Product", new_vendor_product_path(@vendor.id) %>
</section>
