<div>
  <h1>LOOK AT THIS HERE Vendor</h1>
  <h2> <%= @vendor.name %></h2>
    <p>
      Employees Number: <%= @vendor.employee_no %>
    </p>
    <h3>Products</h3>
    <ul>
      <% @vendor.products.each do |product| %>
      <li>
        <%= product.name %>
      </li>
      <% end %>
    </ul>


<%= button_to "Delete", "/vendors/#{@vendor.id}", method: :delete, data: { confirm: "Are you sure you want to delete this vendor?"} %>
</div>
