<h1> <%= @vendor.name %> details </h1>

<p>Create, edit, or delete a product<p>
<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.name %> <%= link_to "edit", product.create %></li>
  <% end %>
</ul>
