<div class="pretend-nav">
  <div class="nav-position">
  <%= link_to "CREATE", new_vendor_path  %>
  <%= link_to "EDIT", edit_vendor_path(@vendor) %>
  </div>
</div>

<div class="center">
  <h1><%= @vendor.name %></h1>

  <h2>Vendors</h2>
  <% @vendor.products.each do |product| %>
    <% product.sales.each do |sale| %>
      <div>
        <%= product.name + " $" + sale.amount.to_s %>
      </div>
    <% end %>
  <% end %>
</div>
