<% provide(:title, "Vendor Information") %>
<div class="row">
  <div class="col-sm-6 col-md-4">
      <h3>Vendor Name</h3>
      <p><%= @vendor.name %></p>
  </div>
  <div class="col-sm-6 col-md-4">
    <h3>Vendor Stats</h3>
    <p>Number of Employees: <%= @vendor.no_employees %></p>
    <p>Our Market: <%= @vendor.market.name %></p>
  </div>
  <div class="col-sm-6 col-md-4">
    <h3>Products</h3>
    <% @products.each do |product| %>
      <p><%= product.name %></p>
    <% end %>
  </div>
</div>
