<nav>
<a class="nav_link" href="/">Return Home | </a>
<a class="nav_link" href="/markets">View All Markets | </a>
<%= link_to "Back to Market Page", market_path(params[:id]), class: "nav_link" %>
</nav>

<%= render 'marketform' %>
