<h1>Farmer's Market Homepage</h1>


<section>
  <%= form_for @market do |f| %>
    <fieldset>
      <legend> Markets </legend>
      <%= f.collection_select( :id, Market.all, :id, :name, prompt: "Select one:") %>
      <br>
      <%= f.submit %>
    </fieldset>
    <% end %>
</section>
