<div class="image-container">
  <img src="https://milkladymarkets.files.wordpress.com/2013/01/pic-berries-vegetables-at-market.jpg?w=1200" alt="farmers market" class="home-pg-image">
</div>

<div class="home-pg-header-container">
  <h1 class="home-pg-header">FARMERS MARKETS</h1>
  <h3 class="home-pg-h3">CONTINUE AS A:</h3>
</div>



  <%= link_to "I am a market", markets_path(user_type: 'market'), class: "home-pg-button", id: "market-button" %>
  <%= link_to "I am a vendor", vendors_path(user_type: 'vendor'), class: "home-pg-button", id: "vendor-button" %>
  <%= link_to "I am a guest", markets_path(user_type: 'guest'), class: "home-pg-button", id: "guest-button" %>



<h2 class="pg-sub-header">
  All Markets
</h2>
<table class="guest_table">
  <% @markets.each do |market| %>
  <tr>
    <td><%= link_to market.name.titleize, market, class: "market-link" %></td>
  </tr>

  <% end %>
</table>
