<h1>All dem Markets</h1>

<%= button_to 'New', {action: 'new', controller: 'markets'}, method: :get %>

<table>
  <% @markets.each do |market| %>
  <tr>
    <td><%= link_to market.name, market %></td>
    <td><%= render partial:'edit_button', locals:{controller:'markets', id:market.id} %></td>
  </tr>
  <% end %>
</table>