<%= button_to "Add New Market", new_market_path, method: :get, class: "btn btn-default" %><br>
<ol>
  <% @markets.each do |market| %>
  <li>
    <%= link_to market.name, market_path(market.id) %>
  </li>
  <% end %>
</ol>
