<h1>You are acting as a market</h1>

<%= link_to "Create new Market!", new_market_path %>
<br>
<br>
<table>
  <% @markets.each do |m| %>
    <tr>
      <td>
        <%= link_to m.name, market_path(m.id)  %>
      </td>
      <td>
        <%= button_to "Edit", "/markets/#{m.id}/edit", method: :get %>
      </td>
    </tr>
  <% end %>
</table>
