<% provide(:title, "Show All Markets") %>
<table class="table table-hover table-color">
  <thead>
    <tr>
      <td>Market Name</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= market.name %></td>
        <td><%= button_to "Edit", edit_market_path(market), method: :get %></td>
        <td><%= button_to "Delete", market_path(market),  method: :delete, data: { confirm: "Are you sure you want to delete #{market.name}?" } , class: 'x-button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
