<h1>Markets</h1>
<%= @market_link %>
<ul>
  <% @markets.each do |market| %>
    <% if @market_link == ""%>
      <li><%=link_to market.name, user_show_path(market.id) %></li>
    <% else %>
      <li><%=link_to market.name, market_path(market.id) %></li>
    <% end %>
  <% end %>
</ul>
