<h1><%= @market.name %></h1>

<h2>Who's sellin' stuff here?</h2>

<table>
  <% @market.vendors.each do |vendor| %>
    <tr>
      <td><%= link_to vendor.name, "/markets/#{vendor.market_id}/vendors/#{vendor.id}" %></td>
      <td><%= button_to 'Edit', edit_market_vendor_path(market_id: vendor.market_id, id: vendor.id), method: :get %></td>
      <td><%= button_to 'Delete', market_vendor_path(market_id:vendor.market_id, id: vendor.id), method: :destroy %></td>
    </tr>
  <% end %>
</table>


<% if @buttons %>
  helllo
<% end %>