<div class="pretend-nav">
  <div class="nav-position">
  <%= link_to "CREATE", new_market_path  %>
  <%= link_to "EDIT", edit_market_path(@market) %>
  </div>
</div>

<div class="center">
  <h1><%= @market.name %></h1>

  <h2>Vendors</h2>
  <% @market.vendors.each do |vendor| %>
    <div>
      <%= vendor.name %>
    </div>
  <% end %>
</div>
