<div class="center-block sign-in-master">
<div class="sign-in-button">
  <%= button_to "Sign in as a Market", "/markets", method: :get, class: "btn btn-default" %>
</div>
  <%= button_to "Sign in as a Vendor", "/vendors", method: :get, class: "btn btn-default" %>
</div>
