body {
  background-image: url("eggs.png");
  text-align: center;
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  margin: auto;
  margin-bottom: 100px;
}

a {
  font-family: Cinzel, sans-serif;
  color: black;
  font-size: 30px;
}


section {
  background-color: rgba(225,225,225,0.5);
  width: 50%;
  margin: auto;
}

.footer {
  background-color: rgba(225,225,225,0.5);
  width: 80%;
  margin: auto;
  font-size: 30px;
}

.notopaque {
  opacity: 1;
}

table {
  font-family: Cinzel, sans-serif;
  color: black;
  font-size: 20px;
  width: 80%;
  margin-top: 60px;
  margin-bottom: 20px;
  background-color: rgba(225,225,225,0.5);
  margin: auto;
}

table a {
  font-size: 20px;
}

h1 {
  font-family: Pacifico, sans-serif;
  color: white;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

fieldset {
  font-family: Cinzel, sans-serif;
  color: black;
  font-size: 20px;
  width: 450px;
  float: inherit;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 20px;
  border: 0;
}

legend {
  font-family: Cinzel, sans-serif;
  color: black;
  font-size: 30px;
}
