body {
  font-family: 'Quicksand', sans-serif;
  background-color: #FFFFFF;
}

.home-pg-image {
  /*height: 200px;*/
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(75%);
  position: relative;
  z-index: -1;
}

.home-pg-header {
  position: absolute;
  top: 200px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 80px;
}

.home-pg-button {

  text-align: center;

}

.button-container {
  width: 200px;
  margin: auto;
  position: absolute;
  top: 400px;
  left: 50%;
}
