body {
  font-family: 'Quicksand', sans-serif;
  background-color: #FFFFFF;
}

.home-pg-image {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(75%);
  position: relative;
  z-index: -1;
}

.home-pg-header {
  position: absolute;
  top: 200px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 80px;
}

.home-pg-button {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding-top: 10px;
  margin: 10px;
  opacity: 0.6;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
}

#market-button {
  position: absolute;
  left: 30%;
  top: 400px;
}

#vendor-button {
  position: absolute;
  left: 45%;
  top: 400px;
}

#guest-button {
  position: absolute;
  left: 60%;
  top: 400px;
}

.pg-header {
  text-align: center;
  font-size: 32px;
}

.home-pg-markets {
  width: 450px;
  margin: auto;
}

.market-link {
  text-decoration: none;
  color: #666666;
}

.market-link:hover {color: #000000;}

.nav_button {
  float: left;
  display: inline;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  width: 100px;
  height: 65px;
  font-size: 24px;
  color: #666666;
  border: 1px solid #666666;
  margin: 10px;
  border-radius: 80%;
  background-color: #FFFFFF;
  padding-top: 30px;
  text-decoration: none;
}

.button_nav {
  width: 375px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

table {
  margin-top: 25px;
  margin: auto;
}

.table_list {
  display:block;
}

tr {
  margin: 3px;
}
