$grey_teal: #a3c2c2;
$grey: #666666;

$button_color: $grey_teal;

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #FFFFFF;
}

.home-pg-image {
  width: 100%;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  position: relative;
  z-index: -1;
  margin: -75px 0 0 0;
}

.image-container {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.home-pg-header-container {
  position: absolute;
  top: 200px;
  left: 0;
  text-align: center;
  width: 100%;
}

.home-pg-header {
  font-size: 60px;
  font-family: 'Muli', sans-serif;
  color: #FFFFFF;
}

.home-pg-h3 {
  font-size: 18px;
  font-family: 'Muli', sans-serif;
  color: #FFFFFF;
}

.home-pg-button {
  width: 130px;
  height: 75px;
  font-size: 24px;
  border-radius: 80%;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding-top: 55px;
  margin: 10px;
  text-decoration: none;
  opacity: 0.6;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
}

#market-button {
  position: absolute;
  left: 30%;
  top: 400px;
}

#vendor-button {
  position: absolute;
  left: 45%;
  top: 400px;
}

#guest-button {
  position: absolute;
  left: 60%;
  top: 400px;
}

.pg-header {
  text-align: center;
  font-size: 32px;
}

.pg-sub-header {
  text-align: center;
  font-size: 24px;
}

.description {
  text-align: center;
  font-size: 16px;
  padding: 20px 0px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
}

.home-pg-markets {
  width: 450px;
  margin: auto;
}

.market-link {
  text-decoration: none;
  color: $grey;
}

.market-link:hover {color: #000000;}

.nav_button {
  float: left;
  display: inline;
  text-align: center;
  width: 130px;
  height: 75px;
  font-size: 24px;
  color: $grey;
  margin: 10px;
  border-radius: 80%;
  padding-top: 45px;
  text-decoration: none;
  background-color: $button_color;
}

.larger_nav_button {
  float: left;
  display: inline;
  text-align: center;
  width: 170px;
  height: 75px;
  font-size: 24px;
  color: $grey;
  margin: 10px;
  margin-top: 40px;
  border-radius: 80%;
  background-color: $button_color;
  padding-top: 55px;
  padding-bottom: 35px;
  text-decoration: none;
}


.three_button_nav {
  width: 500px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.two_button_nav {
  width: 350px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.two_larger_button_nav {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.one_button_nav {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.table_button {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  background-color: #FFFFFF;
  color: #666666;
  border: 1px solid #666666;
  border-radius: 80%;
  padding: 5px;
  margin: 0px 10px;
}

table {
  margin-top: 25px;
  margin-bottom: 25px;
  margin: auto;
  width: 500px;
}

.guest_table {
  text-align: center;
}

.table_list {
  display: block;
  width: 400px;
}

#vendor_table {
  text-align: center;
  width: 300px;
}

#vendors_with_buttons {
  width: 400px;
}

tr {
  margin: 3px;
}

.form {
  width: 400px;
  height: 200px;
}

fieldset {
  border: none;
}

#num_emp {
  width: 25px;
}
