<fieldset>
  <legend><h1>Edit product information</h1></legend>
  <%= form_for @product, url: {action: :update} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
  <% end %>
</fieldset>
