<div class='nav-two-links'>
  <%= link_to 'home', '/', class: 'top-nav-button' %>
  <%= link_to 'return to vendor', vendor_path(id: params[:vendor_id]), method: :get, class: "top-nav-button" %>
</div>

<hr class="nav-hr" />

<%= render partial:'product_form', locals:{form_title:'add product', url: vendor_products_path(vendor_id: params[:vendor_id]), method: :post} %>
