<div class="pretend-nav">
  <div class="nav-position">
  <%= link_to "CREATE SALE", new_vendor_product_sale_path(@vendor, @product)  %>
  </div>
</div>

<h1><%= @product.name %></h1>

<h2><% @product %></h2>
<ul>
  <li>
    <h3>All Sales</h3>
  </li>
  <% @product.sales.each do |sale| %>
    <li>
      <%= number_to_currency(in_dollars sale.amount) %>
    </li>
  <% end %>
</ul>
