<h2>Here are the sales:</h2>

<ul>
  <% count = 0 %>
  <% @sales.each do |sale| %>
    <li>
      <%= @product_names[count] %>:<%= sale.amount %>,
      <%= sale.purchase_time %>
    </li>
    <% count += 1 %>
  <% end %>
</ul>
