<div class="center">
  <%= form_for @vendor, url: { action: @action } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true%>
    <br>
    <%= f.submit %>
  <% end %>
</div>
 <!-- THIS IS WHAT WE'RE WORKIGN ON!!! -->
