<div class="center">
  <%= form_for @sale, url: { action: @action } do |f| %>
    <%= f.label :amount %>
    $<%= f.number_field :amount, required: true, step: :any %>
    <br>
    <%= f.submit %>
  <% end %>
</div>
